body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
}

h1 { 
    color: #1DB954; 
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.card {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
}

img {
    width: 100px;
    border-radius: 50%;
    margin-top: 10px;
}
